*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{ 
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* ----------------------------- Header ----------------------------- */ 

header{
    background-color: #f8765e;  
}

nav{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    margin: 0 4vw 0 4vw;
}

/* ----------------------------- Images ----------------------------- */ 
#mobile{
    margin-top: 35px;
    margin-bottom: 60px;
}

.illustration{
    margin-top: 60px;
    margin-bottom: 50px;
}

.quote-white{
    padding: 80px 201px 23px 49px;
}

/* --------------------- Todos los textos -------------------- */ 
h1{
    padding-top: 25px;
    padding-bottom: 14px; 
    font-size: 2.6rem;
    font-weight: 900;
    color: white;
    line-height: 2.23;
}


h2{
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

h5{
    background-image: url(./images/quote.svg);
    background-repeat: no-repeat;
    width: 151px;
    height: 165px;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #f8765e;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    margin-left: 25px;
}

.text-banner{
  height: 160px;
  font-size: 1.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin: 0 7vw;
}

.purple-text{
    color: #5b6c94;
    font-weight: 400; 
    font-size: 1.6rem;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.blue-title{
    color: #031d5b;
    font-weight: 500; 
    font-size: 1.8rem;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 20px;
    width: 55px;
    border-bottom: 5px solid coral;
    margin-bottom: 30px;
}

.orange-title{
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #f8765e; 
    margin-top: 60px;
    margin-bottom: 10px;
}

.orange-title1{
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #f8765e; 
    margin-top: 60px;
    margin-bottom: 10px;
}

.blue-premium-title{
    color: #031d5b;
    font-weight: 500; 
    font-size: 2.6rem;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.purple-premium-text{
    color: #5b6c94;
    font-weight: 500; 
    font-size: 1.6rem;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 7vw;
}

.grey-subscribe-title{
    color: #cdcdcd;
    font-weight: 400; 
    font-size: 2.6rem;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.text-quote{
    width: 240px;
    height: 80px;
    font-size: 1.8rem;
    line-height: 2;
    color: white;
    text-align: left;
    font-weight: 500; 
    padding-left: 49px;
}

.text-quote1{
    width: 240px;
    height: 80px;
    font-size: 1.8rem;
    line-height: 2;
    color: white;
    text-align: left;
    font-weight: 500; 
    padding-top: 78px;
    padding-left: 49px;
}
/* --------------------- Forms -------------------- */ 

#email{
    width: 335px;
    height: 60px;
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #cdcdcd;
    border-radius: 20px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color:white;
    padding-left: 20px;
}

#email::placeholder{
    color: #cdcdcd;
}

.button{
    margin: 20px 104px 140px 104px;
    width: 168px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.14);
    background-color: #9bdbe7;
    font-size: 2rem;
    line-height: 25px;
    font-weight: bold;
    color: white;
}

/* --------------------- Otros -------------------- */

#banner{
    text-align: center;
    background-color: #f8765e;
}

#benefit{
    background-color: white;
    width: 90vw;
    border-radius: 20px;
/*     border: 1px solid salmon; */
    box-shadow:  0 10px 34px 0 rgba(210, 210, 210, 0.5);
    position: relative;
    bottom: 70px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}


#orange-box{
    background-color:#f8765e;
    padding-top:70px;
    height: 660px;
    border-radius: 20px;
    margin-left: 75px;
    position: relative;
    bottom: 60px;
    z-index: -1;
}

#quote-blue{
    width: 300px;
    height: 400px;
    background-color: #9bdbe7;
    box-shadow: 12px 12px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
/*     padding: 152px 50px 0 50px; */
    position: relative;
    top: 50px;
    left: -70px;
    margin: 10px 30px 40px 30px;
}

#testimonials{
    margin: 100px 0 0 0;
}
/* ----------------------------- Footer ----------------------------- */ 

footer{
    background-color: #f8765e;
    height: 164px;  
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: white;
    padding-top: 40px;
    margin-top: 100px;
}

/* ----------------------------- Media querie ----------------------------- */ 
 
@media (min-width:600px){

 /* ------- header ------- */
    header{
        display:flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 55px;
        padding-right: 10px;
    }

 /* ------- banner naranja ------- */
    #banner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        height: 800px;
        /*         padding: 0 5% 0 5%;
        text-align: left; */
    }

    #mobile{
        width: 45%;
    }

    .text-responsive-banner{
        text-align: left;
        max-width: 53%;
    }

    .text-banner{
        text-align: left;
        margin: 0px;
    }

    h2{
        text-align: left; 
        font-size: 4.8rem;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
    }

    .button{
        margin: 0px;
    }

    form{
        padding-left: 0px;
    }

/* ------- benefit ------- */
    #benefit{
    /* padding: 0 50px 60px 50px; */
    padding: 0 0 60px 0;
    }
    .cajitas{
        width: 33%;
        padding: 0 50px 0 50px;
    /*  adding-right: 100px; */
    }
    .cajitas:last-child {
        padding-right: 0px;
      }

 /* ------- pricing ------- */

    #pricing01{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
    }
    #left-column{
        width: 44%;
        text-align: left;
    }

    .premium-text{
        text-align: right;
        max-width: 50%;
    }

    .orange-title{
        text-align: right;
        font-size: 4.8rem;
    }
    .blue-premium-title{
        text-align: right;
        font-size: 3.4rem;
    }
    .purple-premium-text{
        text-align: right;
        padding-bottom: 40px;
        margin: 0;
    }

    .button-pricing{
        text-align: right;
        justify-content: flex-end;
        margin: 0px;
    }


/* ------- subscribe ------- */
    .orange-title1{
        font-size: 4.8rem;
    }

    .grey-subscribe-title{
        font-size: 3.4rem;
        padding-top: 0px;
        padding-bottom: 50px;
    }
    form{
        display: flex;
        justify-content: center;
    }
    .button{
        margin-left: 16px;
    }

}

